@using Microsoft.AspNetCore.Identity
@inject SignInManager<SiteUser> SignInManager
@inject UserManager<SiteUser> UserManager


@if (SignInManager.IsSignedIn(User) && await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "Admin"))
{
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="" asp-controller="Allas" asp-action="Add">Add</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-light" asp-area="" asp-controller="Allas" asp-action="Users">Edit Users</a>
    </li>
}
