@using Microsoft.AspNetCore.Identity
@using System.Linq;
@model IEnumerable<Allas>
@inject UserManager<SiteUser> UserManager
@inject SignInManager<SiteUser> SignInManager

<h1>Üdv az allas borzen</h1>

<div class="grid w-50" style="--bs-columns: 3">
    @foreach (var item in Model.ToList())
    {
        <div class="card">
            <div class="card-body">
                <div class="card-title">@item.Megnevezes</div>
                <div class="card-subtitle"> @item.Vallalat</div>
                <div class="card-text"> Bérezés: @item.Oraber</div>
                @if (item.Jelentkezok != null && !item.Jelentkezok.Select(x => x.Id).Contains(UserManager.GetUserId(User)))
                {
                        <a href="Allas/Jelentkezes?uid=@item.UID">Jelentkezes</a>
                }
                <div class ="card-subtitle">@item.Jelentkezok.Count()</div>
            </div>
        </div>
    }
</div>